@import "~antd/dist/antd.css";


.search-label {
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
}
.sugg-para {
  font-size: 15px;
  font-weight: 500;
  opacity: 0.7;
}
.home-para{
  margin-top: 10px;
  width: 96%;
}
.home-para p{
  font-size: 14px;
  line-height: 20px;
}
